body {
    background-color: #fffede
}


.header_nav {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.header_nav > h1 {
    width: 100%;
    position: relative;
}
.header_nav > button {
    width: 96.15%;
    position: relative;
    margin-left: 28px;
    background: #a7d2ce;
}

.catalog_main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalog_content {
    flex-shrink: 0;
    width: 70%;
    display: flex;
    flex-direction: column;

}

.catalog_content > h1 {
    width: 100%;
    text-align: center;
}

.catalog_content > button {
    margin-left: 25px;
    background: #f6f9f2;
}

.catalog_books {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -22px;
}
.catalog_book {
    width: 200px;
    height: 300px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid #000000;
    margin: 15px 0 0 25px;
    text-align: center;
}

.book_data > p {
    margin-top: 0;
    margin-bottom: 0;
}

.book_data > h1 {
    font-size: 20px;
}

.catalog_filter {
    flex-shrink: 0;
    width: 28%;
    margin-left: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.catalog_filter > h2 {
    margin-top: 0;
    font-size: 20px;
}

.filter_content {
    display: flex;
    flex-direction: column;
    margin: 0px 0 0px 6px;
    width: 350px;
}

.filter_content > button {
    width: 352px;
    margin-left: -1px;
    background: #f6f9f2;
}

option {
    text-indent: 40%;
}

h1 {
    color: #ff9100;
}

.rateButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    white-space: normal;
    height: 60px;
}

.rateButtons > p {
    width: 5px;
    font-size: 24px;
    cursor: pointer;
}

.rated {
    font-size: 12px;
    margin-top: 30px;
}


.favorites {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.favorites > li {
    margin-left: 10px;
    height: 150px;
    text-align: center;
    flex-shrink: 0;
    font-size: 14px;
}
.favorites > h1 {
    font-size: 10px;
}

h3 {
    font-size: 16px;
}

.catalog_book > .favorite_button {
    position: absolute;
    font-size: 14px;
    margin-top: 270px;
    width: 200px;
    height: 25px;
    align-content: center;
    text-align: center;
    padding: 0 0;
}

.catalog_book > .favorite_button > p {
    margin-left: 50px;
}