.header_nav {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.header_nav > h1 {
    width: 100%;
    position: relative;
}
.header_nav > button {
    width: 100%;
    position: relative;
}

.catalog_main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalog_content {
    flex-shrink: 0;
    width: 70%;
    display: flex;
    flex-direction: column;

}

.catalog_content > h1 {
    width: 100%;
    text-align: center;
}

.catalog_books {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}
.catalog_book {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid red;
    margin: 15px 0 0 0;
    text-align: center;
}

.catalog_filter {
    flex-shrink: 0;
    width: 29%;
    margin-left: 1%;
}

h1 {
    color:red;
}

.rateButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    white-space: normal;
    height: 30%;
}

.rateButtons > p {
    width: 5px;
    font-size: 24px;
    cursor: pointer;
}

.rated {
    font-size: 12px;
    margin-top: 30px;
}


.favorites {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: 16px;
}

.catalog_book > .favorite_button {
    position: absolute;
    font-size: 12px;
    margin-top: 270px;
    height: auto;
    margin-left: 28px;

}